<!-- modal popup for get coupn code -->
<!-- <div>
    <div>
        <div *ngFor="let x of listData" class="modal-content">
            <div class="modal-header cd-modal-header">
                <img src="{{x.merchant_logo}}" alt="store_logo" width="100" height="80">    <p class="deal-activity title">{{x.title}}</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="coupon-modal-body">
                <div class="coupon-show">
                    <p style="font-weight: bold; font-size: 14px;">{{x?.coupon_code || 'No Coupon Code Required' }} <i
                            style="color: green;cursor:pointer" class="fa fa-copy"></i></p>
                    <div class="offer-meta-txt">
                        <div class="activate-wrapper">
                            <img alt="verified-icon" width="30" src="assets/img/verified_icon.png"
                                class="verified-icon">
                            <span>FilDeal Activated</span>
                        </div>
                    </div>
                    <div class="store-cta load-offer-btn outlink">
                        <a href="{{x.affiliate_link}}" target="_blank">
                        <div class="outlink-icon">
                        </div>
                        <span class="store-link " gtm-trigger="outclick">Go To <span class="store-link" data-type="html"
                                data-model="storeName">{{x.merchant_name}}</span> Website</span>
                            </a>
                    </div>
                </div>
                <div class="coupon-feedback">
                    <div class="smile-wrapper">
                        <ul class="smile">
                            <li><a href="#"><i class="fa fa-thumbs-o-up"></i></a></li>
                            <li><a href="#"><i class="fa fa-thumbs-o-down "></i></a></li>
                            <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                        </ul>
                        <p>Did this help you save money?</p>
                    </div>
                    <a href="{{x.affiliate_link}}" target="_blank" class="mod-store-btn">Go to Store</a>
                </div>
            </div>
            <div class="modal-footer">
                <div class="mf-left"> <i class="fa fa-signal" aria-hidden="true"></i>17548 People View This</div>
                <div class="mf-right">
                    <ul class="coupon-soc">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->