<section class="product-details">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="wd-tab-section">
                    <div class="bd-example bd-example-tabs">
                        <ul class="nav nav-pills mb-3 wd-tab-menu" id="pills-tab" role="tablist">
                            <li class="nav-item col-6 col-md">
                                <a class="nav-link active" id="description-tab" data-toggle="pill" role="tab"
                                    aria-controls="description-section" aria-expanded="true">FilDeal About-Us</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade active show " id="description-section" role="tabpanel"
                                aria-labelledby="description-tab" aria-expanded="true">
                                <div class="product-tab-content">
                                    <h4 class="description-title" style="font-weight: 900;"> About Us</h4>
                                    <p class="description-subcontent">Founded in 2024, FilDeal is headquartered in
                                       Hyberbad. FilDeal receives about 5.2 million
                                        monthly visits, lists coupons from 2000+ online brands including top stores like
                                        Flipkart, Amazon, MakeMyTrip, PayTM and BookMyShow, has 7.5 million email
                                        subscribers and more than 2 million App downloads. FilDeal has grown to
                                        become India's largest discount and offer destination.</p>

                                    <p class="description-subcontent">At FilDeal, we help you save money through our
                                        comprehensive listing of coupons, offers, deals and discounts from top online
                                        brands and websites. You can also earn reliable Cashback on top of the merchant
                                        discounts every time you shop through us. You can make better shopping decisions
                                        through our powerful Price Comparison Browser Extension.</p>

                                    <p class="description-subcontent">Our aim is to create a generation of smart
                                        shoppers by empowering customers to make the best possible choices. We sweeten
                                        everyday deals and makes online shopping more rewarding.</p>
                                    <p class="description-subcontent">In case you want to contact us, visit our Contact
                                        Us page or drop us a mail at contact@fildeal.com</p>
                                </div>

                                <hr>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>