<section class="tab-magazine recent-pro-2">
    <div class="container-fluid custom-width">
        <div class="row">
           <div class="col-lg-8 col-xl-6">
               <div class="tab-maga-wrapper">
                   <ul class="nav nav-tabs wd-amazon-product-tabs " id="myTab-recent" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Market 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="ebay-tab" data-toggle="tab" href="#ebay" role="tab" aria-controls="ebay">Market 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Elipkart-tab" data-toggle="tab" href="#Elipkart" role="tab" aria-controls="Elipkart">Market 3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="aliexpress-tab" data-toggle="tab" href="#aliexpress" role="tab" aria-controls="aliexpress">Market 4</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="alibaba-tab" data-toggle="tab" href="#alibaba" role="tab" aria-controls="alibaba">Market 5</a>
                            </li>
                        </ul>
              <div class="tab-content" id="myTabContent-recent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="magazine-sin">
                            <img src="assets/img/blog-img/mag-tab1.jpg" alt="">
                            <div class="magazine-tab-con">
                                <h2>Featured deals in <br>Mobiles &<span>Accessories</span></h2>
                                <p><span>$1189</span> - $356</p>
                                <div class="tab-bottom">
                                    <h3><a href="#">OnePlus 5T (Midnight Black 6GB RAM + 64GB memory)</a></h3>
                                    <div class="tab-rating">
                                        <p>4.5</p>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ebay" role="tabpanel" aria-labelledby="ebay-tab">
                        <div class="magazine-sin">
                            <img src="assets/img/blog-img/mag-tab1.jpg" alt="">
                            <div class="magazine-tab-con">
                                <h2>Featured deals in <br>Mobiles &<span>Accessories</span></h2>
                                <p><span>$1189</span> - $356</p>
                                <div class="tab-bottom">
                                    <h3><a href="#">OnePlus 5T (Midnight Black 6GB RAM + 64GB memory)</a></h3>
                                    <div class="tab-rating">
                                        <p>4.5</p>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Elipkart" role="tabpanel" aria-labelledby="Elipkart-tab">
                        <div class="magazine-sin">
                            <img src="assets/img/blog-img/mag-tab1.jpg" alt="">
                            <div class="magazine-tab-con">
                                <h2>Featured deals in <br>Mobiles &<span>Accessories</span></h2>
                                <p><span>$1189</span> - $356</p>
                                <div class="tab-bottom">
                                    <h3><a href="#">OnePlus 5T (Midnight Black 6GB RAM + 64GB memory)</a></h3>
                                    <div class="tab-rating">
                                        <p>4.5</p>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="aliexpress" role="tabpanel" aria-labelledby="aliexpress-tab">
                        <div class="magazine-sin">
                            <img src="assets/img/blog-img/mag-tab1.jpg" alt="">
                            <div class="magazine-tab-con">
                                <h2>Featured deals in <br>Mobiles &<span>Accessories</span></h2>
                                <p><span>$1189</span> - $356</p>
                                <div class="tab-bottom">
                                    <h3><a href="#">OnePlus 5T (Midnight Black 6GB RAM + 64GB memory)</a></h3>
                                    <div class="tab-rating">
                                        <p>4.5</p>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="alibaba" role="tabpanel" aria-labelledby="alibaba-tab">
                        <div class="magazine-sin">
                            <img src="assets/img/blog-img/mag-tab1.jpg" alt="">
                            <div class="magazine-tab-con">
                                <h2>Featured deals in <br>Mobiles &<span>Accessories</span></h2>
                                <p><span>$1189</span> - $356</p>
                                <div class="tab-bottom">
                                    <h3><a href="#">OnePlus 5T (Midnight Black 6GB RAM + 64GB memory)</a></h3>
                                    <div class="tab-rating">
                                        <p>4.5</p>
                                        <div class="rating">
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
           </div>
           <div class="col-lg-4 col-xl-6">
               <div class="row">
                   <div class="col-xl-8">
                       <div class="c-area-wrapper">
                            <div class="sin-tab-pro">
                                <div class="st-img">
                                    <img src="assets/img/product-img/mag-tabs1.jpg" alt="">
                                </div>
                                <div class="tp-content">
                                    <a href="#">HTC Desire 530 and Scorebox example</a>
                                    <div class="rating">
                                        <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    </div>
                                    <p>October 28, 2016 2 comments</p>
                                </div>
                            </div>
                            
                            <div class="sin-tab-pro">
                                <div class="st-img">
                                    <img src="assets/img/product-img/mag-tabs2.jpg" alt="">
                                </div>
                                <div class="tp-content">
                                    <a href="#">LG K7 and combined Content Egg</a>
                                    <div class="rating">
                                        <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    </div>
                                    <p>October 28, 2016 2 comments</p>
                                </div>
                            </div>
                            
                            <div class="sin-tab-pro">
                                <div class="st-img">
                                    <img src="assets/img/product-img/mag-tabs3.jpg" alt="">
                                </div>
                                <div class="tp-content">
                                    <a href="#">Samsung galaxy S7 and how to divide </a>
                                    <div class="rating">
                                        <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                    </div>
                                    <p>October 28, 2016 2 comments</p>
                                </div>
                            </div>
                       </div>
                   </div>
                   <div class="col-xl-4 d-md-none d-xl-block">
                       <div class="mag-add">
                          <a href="#"><img src="assets/img/product-img/mag-add.jpg" alt=""></a>
                       </div>
                   </div>
               </div>
           </div>
            
        </div>
    </div>
</section>


<section class="mag-review">
    <div class="container-fluid custom-width">
        <div class="row">
            <div class="col-xl-12">
                <h1>Best Review Product</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-xl-3">
                <div class="sin-mag-rev">
                    <div class="mr-img">
                        <img src="img/product-img/product-img-17.jpg" alt="">
                    </div>
                    <div class="mag-rev-con">
                        <div class="mr-meta">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>226 Comments</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>226,658</a>
                        </div>
                        <h3><a href="#">Alienware AW2518H 240Hz G-Sync Monitor Review</a></h3>
                        <div class="inner-rev">
                            <span>Market 1</span>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="inner-rev">
                            <span>Market 2</span>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="inner-rev">
                            <span>Market 3</span>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            </div>
                        </div>
                       
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">4.5</div>
                        </div>
                        <div class="rating pro-bar">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                        </div>
                        <div class="rev-readmore">
                            <a href="#" class="pr-btn">read more</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-6 col-xl-3">
                <div class="sin-mag-rev">
                    <div class="mr-img">
                        <img src="img/product-img/product-img-12.jpg" alt="">
                    </div>
                    <div class="mag-rev-con">
                        <div class="mr-meta">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>226 Comments</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
                    226,658</a>
                        </div>
                        <h3><a href="#">Alienware AW2518H 240Hz G-Sync Monitor Review</a></h3>
                        <div class="inner-rev">
                            <span>Market 1</span>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="inner-rev">
                            <span>Market 2</span>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="inner-rev">
                            <span>Market 3</span>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            </div>
                        </div>
                       
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">4.5</div>
                        </div>
                        <div class="rating pro-bar">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                        </div>
                        <div class="rev-readmore">
                            <a href="#" class="pr-btn">read more</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-6 col-xl-3">
                <div class="sin-mag-rev">
                    <div class="mr-img">
                        <img src="img/product-img/product-img-16.jpg" alt="">
                    </div>
                    <div class="mag-rev-con">
                        <div class="mr-meta">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>226 Comments</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>226,658</a>
                        </div>
                        <h3><a href="#">Alienware AW2518H 240Hz G-Sync Monitor Review</a></h3>
                        <div class="inner-rev">
                            <span>Market 1</span>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="inner-rev">
                            <span>Market 2</span>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="inner-rev">
                            <span>Market 3</span>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            </div>
                        </div>
                       
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">4.5</div>
                        </div>
                        <div class="rating pro-bar">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                        </div>
                        <div class="rev-readmore">
                            <a href="#" class="pr-btn">read more</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-6 col-xl-3">
                <div class="sin-mag-rev">
                    <div class="mr-img">
                        <img src="img/product-img/product-img-15.jpg" alt="">
                    </div>
                    <div class="mag-rev-con">
                        <div class="mr-meta">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>226 Comments</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>226,658</a>
                        </div>
                        <h3><a href="#">Alienware AW2518H 240Hz G-Sync Monitor Review</a></h3>
                        <div class="inner-rev">
                            <span>Market 1</span>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="inner-rev">
                            <span>Market 2</span>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="inner-rev">
                            <span>Market 3</span>
                            <div class="rating">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            </div>
                        </div>
                       
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">4.5</div>
                        </div>
                        <div class="rating pro-bar">
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star active-color" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                        </div>
                        <div class="rev-readmore">
                            <a href="#" class="pr-btn">read more</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- =========================
    Product Carousel  Section
============================== -->

<section class="pro-carousel">
    <div class="pro-carousel-start owl-carousel owl-theme">
       <!--single carousel-->
        <div class="item sin-pc">
            <img src="img/product-img/ps1.jpg" alt="">
            <a href="#">8 Things You Should Never Do in Paris</a>
        </div>
        <!--single carousel-->
        <div class="item sin-pc">
            <img src="img/product-img/ps2.jpg" alt="">
            <a href="#">End Your Nightly Snoring Nightmare</a>
        </div>
        <!--single carousel-->
        <div class="item sin-pc">
            <img src="img/product-img/ps3.jpg" alt="">
            <a href="#">21 Extremely Funny Thoughts To Celebrate</a>
        </div>
        <!--single carousel-->
        <div class="item sin-pc">
            <img src="img/product-img/ps4.jpg" alt="">
            <a href="#">Hilary Duff Shows Off Her Flat Stomach</a>
        </div>
        <!--single carousel-->
        <div class="item sin-pc">
            <img src="img/product-img/ps5.jpg" alt="">
            <a href="#">Hilary Duff Shows Off Her Flat Stomach</a>
        </div>
        <!--single carousel-->
        <div class="item sin-pc">
            <img src="img/product-img/ps6.jpg" alt="">
            <a href="#">8 Things You Should Never Do in Paris</a>
        </div>
        <!--single carousel-->
        <div class="item sin-pc">
            <img src="img/product-img/ps7.jpg" alt="">
            <a href="#">Watch Out. This Girl Knows to Sell Videos</a>
        </div>
        <!--single carousel-->
        <div class="item sin-pc">
            <img src="img/product-img/ps8.jpg" alt="">
            <a href="#">Hilary Duff Shows Off Her Flat Stomach</a>
        </div>
        <!--single carousel-->
        <div class="item sin-pc">
            <img src="img/product-img/ps9.jpg" alt="">
            <a href="#">Hilary Duff Shows Off Her Flat Stomach</a>
        </div>
        <!--single carousel-->
        <div class="item sin-pc">
            <img src="img/product-img/ps10.jpg" alt="">
            <a href="#">21 Extremely Funny Thoughts To Celebrate</a>
        </div>

    </div>
</section>

<!-- =========================
    Footer Fullwidth social area
============================== -->

<section class="footer-full-social">
    <div class="container custom-width">
       <div class="row">
            <div class="col-6 col-sm-6 col-md-4 col-xl-2">
                <div class="sin-fw-social fb-fw">
                   <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-xl-2">
                <div class="sin-fw-social tw-fw">
                   <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-xl-2">
                <div class="sin-fw-social ins-fw">
                   <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-xl-2">
                <div class="sin-fw-social lin-fw">
                   <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-xl-2">
                <div class="sin-fw-social tum-fw">
                   <a href="#"><i class="fa fa-tumblr-square" aria-hidden="true"></i>Tumblr</a>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-xl-2">
                <div class="sin-fw-social red-fw">
                   <a href="#"><i class="fa fa-reddit" aria-hidden="true"></i>Reddit</a>
                </div>
            </div>
            
           
       </div>
    </div>
</section>